.email {
    font-size: 4rem;
    color: rgb(40, 40, 40);
    text-decoration: none;
    position: relative;
    transition: 0.3s ease-in-out all;

    &:hover {
        &::after {
            width: 100%;
        }
    }
    
    &::after {
        z-index: -1;
        content: '';
        display: block;
        position: absolute;
        bottom: 20px;
        width: 0px;
        height: 12px;
        background: #ff215d;
        transition: 0.3s ease-in-out all;
    }
}