<div class="wrapper">
    <h1 id="title">{{ title }}</h1>
    <a href="https://exord.de" target="_blank">
        <img id="logo" src="public/images/Exord_Logo_red.svg" alt="Exord Logo">
    </a>
    {{> links}}
</div>