.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 90vh;
}

#pagetransition {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1337;
    transform: translateY(-100%);
    //transform: translateY(1000px);
    background-color: #ff215d;
}

body {
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}