<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Creative Coding Boilerplate</title>

    <script async src="/public/dist/main.js"></script>
    <link rel="stylesheet" href="/public/dist/index.css">
</head>
<body data-barba="wrapper">

    <!-- put here content that will not change between your pages, like <header> or <nav> -->

    <div id="pagetransition"></div>
    <main class="wrapper" data-barba="container">
        {{{body}}}
    </main>
    
    <!-- put here content that will not change between your pages, like <footer> -->

</body>
</html>